@import "bootstrap";

body {
  width: 80%;
  margin: 0 auto;
}

a {
  padding: 4px;
  margin: 4px;
}
a.active {
  background-color: yellow
}

img {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  margin: 0 auto 15px auto;
}
